web:
    container_name: p5sn
    build: .
    ports:
        - "127.0.0.3:80:80"
    links:
        - db
    volumes:
        - /path/to/project/:/app
    environment:
        - PHP_IDE_CONFIG=serverName=p5sn.local
        - XDEBUG_CONFIG=idekey=docker
        - P5SN_OFFLINE=1
            #Set to 0 if you use application from intranet.
            #In /path/to/project/web/.htaccess "SetEnv P5SN_OFFLINE 1" change to "SetEnv P5SN_OFFLINE 0"
    extra_hosts:
    - p5sn.local:127.0.0.3
    - www.p5sn.local:127.0.0.3

db:
    container_name: p5sn_db
    ports:
        - "127.0.0.3:5506:3306"
    volumes:
        - ./mysql/:/database/import_db
    image: mysql/mysql-server:5.5
    environment:
        MYSQL_DATABASE: p5sn_dev
        MYSQL_ROOT_PASSWORD: toor
